<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baresudoku"
    android:versionCode="6"
    android:versionName="1.5">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36"/>
    <application
        android:label="Bare Sudoku"
        android:icon="@mipmap/ic"
        android:theme="@style/T"
        android:enableOnBackInvokedCallback="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
